* {
  /* Remove tap highlight on button */
  -webkit-tap-highlight-color: transparent !important;
  button:focus {
    outline: none !important;
  }

  /* Enable pointer cursor on enabled button */
  button:not(:disabled) {
    cursor: pointer !important;
  }

  /* Disable cursor on disabled button */
  button:disabled {
    cursor: default !important;
  }
}

/* Hide spin button on number input */

input[type="number"] {
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
