@theme {
  --spacing-*: initial;
  --spacing-scale: 0.0625em;

  /* custom spacings */
  --spacing-128: calc(var(--spacing-scale) * 128);
  --spacing-256: calc(var(--spacing-scale) * 256);
  --spacing-512: calc(var(--spacing-scale) * 512);
  --spacing-768: calc(var(--spacing-scale) * 768);

  /* default spacings 1-100 */

  --spacing-0: 0;
  --spacing-1: calc(var(--spacing-scale) * 1);
  --spacing-2: calc(var(--spacing-scale) * 2);
  --spacing-3: calc(var(--spacing-scale) * 3);
  --spacing-4: calc(var(--spacing-scale) * 4);
  --spacing-5: calc(var(--spacing-scale) * 5);
  --spacing-6: calc(var(--spacing-scale) * 6);
  --spacing-7: calc(var(--spacing-scale) * 7);
  --spacing-8: calc(var(--spacing-scale) * 8);
  --spacing-9: calc(var(--spacing-scale) * 9);
  --spacing-10: calc(var(--spacing-scale) * 10);
  --spacing-11: calc(var(--spacing-scale) * 11);
  --spacing-12: calc(var(--spacing-scale) * 12);
  --spacing-13: calc(var(--spacing-scale) * 13);
  --spacing-14: calc(var(--spacing-scale) * 14);
  --spacing-15: calc(var(--spacing-scale) * 15);
  --spacing-16: calc(var(--spacing-scale) * 16);
  --spacing-17: calc(var(--spacing-scale) * 17);
  --spacing-18: calc(var(--spacing-scale) * 18);
  --spacing-19: calc(var(--spacing-scale) * 19);
  --spacing-20: calc(var(--spacing-scale) * 20);
  --spacing-21: calc(var(--spacing-scale) * 21);
  --spacing-22: calc(var(--spacing-scale) * 22);
  --spacing-23: calc(var(--spacing-scale) * 23);
  --spacing-24: calc(var(--spacing-scale) * 24);
  --spacing-25: calc(var(--spacing-scale) * 25);
  --spacing-26: calc(var(--spacing-scale) * 26);
  --spacing-27: calc(var(--spacing-scale) * 27);
  --spacing-28: calc(var(--spacing-scale) * 28);
  --spacing-29: calc(var(--spacing-scale) * 29);
  --spacing-30: calc(var(--spacing-scale) * 30);
  --spacing-31: calc(var(--spacing-scale) * 31);
  --spacing-32: calc(var(--spacing-scale) * 32);
  --spacing-33: calc(var(--spacing-scale) * 33);
  --spacing-34: calc(var(--spacing-scale) * 34);
  --spacing-35: calc(var(--spacing-scale) * 35);
  --spacing-36: calc(var(--spacing-scale) * 36);
  --spacing-37: calc(var(--spacing-scale) * 37);
  --spacing-38: calc(var(--spacing-scale) * 38);
  --spacing-39: calc(var(--spacing-scale) * 39);
  --spacing-40: calc(var(--spacing-scale) * 40);
  --spacing-41: calc(var(--spacing-scale) * 41);
  --spacing-42: calc(var(--spacing-scale) * 42);
  --spacing-43: calc(var(--spacing-scale) * 43);
  --spacing-44: calc(var(--spacing-scale) * 44);
  --spacing-45: calc(var(--spacing-scale) * 45);
  --spacing-46: calc(var(--spacing-scale) * 46);
  --spacing-47: calc(var(--spacing-scale) * 47);
  --spacing-48: calc(var(--spacing-scale) * 48);
  --spacing-49: calc(var(--spacing-scale) * 49);
  --spacing-50: calc(var(--spacing-scale) * 50);
  --spacing-51: calc(var(--spacing-scale) * 51);
  --spacing-52: calc(var(--spacing-scale) * 52);
  --spacing-53: calc(var(--spacing-scale) * 53);
  --spacing-54: calc(var(--spacing-scale) * 54);
  --spacing-55: calc(var(--spacing-scale) * 55);
  --spacing-56: calc(var(--spacing-scale) * 56);
  --spacing-57: calc(var(--spacing-scale) * 57);
  --spacing-58: calc(var(--spacing-scale) * 58);
  --spacing-59: calc(var(--spacing-scale) * 59);
  --spacing-60: calc(var(--spacing-scale) * 60);
  --spacing-61: calc(var(--spacing-scale) * 61);
  --spacing-62: calc(var(--spacing-scale) * 62);
  --spacing-63: calc(var(--spacing-scale) * 63);
  --spacing-64: calc(var(--spacing-scale) * 64);
  --spacing-65: calc(var(--spacing-scale) * 65);
  --spacing-66: calc(var(--spacing-scale) * 66);
  --spacing-67: calc(var(--spacing-scale) * 67);
  --spacing-68: calc(var(--spacing-scale) * 68);
  --spacing-69: calc(var(--spacing-scale) * 69);
  --spacing-70: calc(var(--spacing-scale) * 70);
  --spacing-71: calc(var(--spacing-scale) * 71);
  --spacing-72: calc(var(--spacing-scale) * 72);
  --spacing-73: calc(var(--spacing-scale) * 73);
  --spacing-74: calc(var(--spacing-scale) * 74);
  --spacing-75: calc(var(--spacing-scale) * 75);
  --spacing-76: calc(var(--spacing-scale) * 76);
  --spacing-77: calc(var(--spacing-scale) * 77);
  --spacing-78: calc(var(--spacing-scale) * 78);
  --spacing-79: calc(var(--spacing-scale) * 79);
  --spacing-80: calc(var(--spacing-scale) * 80);
  --spacing-81: calc(var(--spacing-scale) * 81);
  --spacing-82: calc(var(--spacing-scale) * 82);
  --spacing-83: calc(var(--spacing-scale) * 83);
  --spacing-84: calc(var(--spacing-scale) * 84);
  --spacing-85: calc(var(--spacing-scale) * 85);
  --spacing-86: calc(var(--spacing-scale) * 86);
  --spacing-87: calc(var(--spacing-scale) * 87);
  --spacing-88: calc(var(--spacing-scale) * 88);
  --spacing-89: calc(var(--spacing-scale) * 89);
  --spacing-90: calc(var(--spacing-scale) * 90);
  --spacing-91: calc(var(--spacing-scale) * 91);
  --spacing-92: calc(var(--spacing-scale) * 92);
  --spacing-93: calc(var(--spacing-scale) * 93);
  --spacing-94: calc(var(--spacing-scale) * 94);
  --spacing-95: calc(var(--spacing-scale) * 95);
  --spacing-96: calc(var(--spacing-scale) * 96);
  --spacing-97: calc(var(--spacing-scale) * 97);
  --spacing-98: calc(var(--spacing-scale) * 98);
  --spacing-99: calc(var(--spacing-scale) * 99);
  --spacing-100: calc(var(--spacing-scale) * 100);
}
